/bin
/target
/.settings
/.classpath
/.project
/log.out
/.idea
.DS_Store
src/main/java/tr/com/lucidcode/config/HibernateConfiguration.java

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
